/* Font Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");

:root {
  /* Background Color Container */
  --mainColor: #bdc3c7;

  /* Font Color */
  --secondColor: #2c3e50;

  /* Reguler Color */
  --thirdColor: #8d8daa;

  /* Forms Color */
  --fourthColor: #dfdfde;

  /* Background Color */
  --fifthColor: #f7f5f2;

  /* Pseudo-class color */
  --sixthColor: #f56d91;
}

* {
  margin: 0;
}

body {
  background-color: var(--thirdColor);
  padding: 2rem;
}

.container {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--secondColor);
}

.container {
  position: relative;
  background-color: var(--mainColor);
  min-height: 100vh;
  width: auto;
  border-radius: 4px;
  padding: 8px;
}

.nav {
  position: relative;
  width: 100%;
}

/* || Navbar Section */
.bg_navbar {
  border-bottom: 3px solid var(--secondColor);
}

.navbar h2 {
  color: var(--secondColor);
  font-family: "Fascinate", cursive;
  margin-top: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  display: flex;
  align-items: center;
}

.item_list {
  /* border: 2px solid var(--sixthColor); */
  list-style: none;
  margin-top: auto;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.item_list li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.item_list li:hover {
  color: var(--secondColor);
  font-weight: 500;
}
.item_list li a {
  margin: auto 4px;
}

/* || Sub-Navbar Section */
.sub_navbar {
  margin: 20px auto;
  margin-left: 0;
}

.bg_sub_navbar {
  position: relative;
  background-color: var(--thirdColor);
  height: auto;
  width: max-content;
  border-radius: 4px;
  padding: 8px;
}

.form {
  display: flex;
  column-gap: 6px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

/* div.form .input_text {
    height: 1.5rem;
    border-style: none;
    border-radius: 4px;
    width: 100px;
} */

div.form input[type="text"] {
  border-radius: 4px;
}

/*Junk scripts*/
/* div.form .select { 
    height: 1.5rem;
    border-style: none;
    border-radius: 4px;
    width: 100px;
} */

div.form .select {
  border-radius: 4px;
}

/* || Font style sub-navbar */
input[type="text"],
.select,
.select > option,
.form .button {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
}

/*Junk scripts*/
/* div.form .button {
    width: 100px;
    background-color: var(--fifthColor);
    height: 1.5rem;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
} */

div.form .button {
  border-radius: 4px;
}

.content {
  /* border: 2px solid var(--sixthColor); */
  position: relative;
  background-color: var(--fourthColor);
  height: auto;
  width: auto;
  border-radius: 4px;
  padding: 3rem;
}

.article {
  border-bottom: 1px solid var(--mainColor);

}

#article h1,
#article p {
  margin: 1rem auto;
}

#article h1 {
  border-left: 0.4rem solid var(--secondColor);
  font-size: 18px;
  padding: 0 0.4rem;
  font-weight: 500;
}

.pragraph a {
  color: var(--secondColor);
  font-weight: 500;
}

.pragraph a:hover {
  color: var(--thirdColor);
  text-decoration: none;
}

.footer {
  position: relative;
  border-top: 3px solid var(--secondColor);
  margin: 20px auto;
}

.sub_footer {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto 4px;
  justify-content: space-between;
}

.signatures {
  margin: auto 0;
  margin-top: 20px;
  font-weight: 500;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

}

/* Responsive website */

/* @media only screen and (max-width: 1280px) {

} */

/* @media only screen and (max-width: 1024px) {

} */

/* @media only screen and (max-width: 768px) {

} */

@media only screen and (max-width: 480px) {

  body {
    padding: 0;
  }

  .container {
    width: auto;
    border-radius: 0;
  }

  .navbar {
    width: auto;
  }

  .logo {
    width: auto;
  }

  .logo img {
    width: 28px;
    margin-bottom: 12px;
  }

  .logo h2 {
    font-size: 12px;
  }

  .item_list {
    width: auto;
    font-size: 12px;
  }

  .item_list p {
    display: none;
  }

  .sub_navbar,
  .bg_sub_navbar {
    width: auto;
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
    align-content: center;
    width: auto;
  }

  .form button,
  .form input,
  .form select,
  .form label {
    font-size: 12px;
  }

  .signatures {
    font-size: 12px;
  }

  .contacts a {
    height: 24px;
    width: 24px;
  }
  
  .content {
    padding: 0.5rem;
  }

  #article h1 {
    font-size: 12px;
    padding: 0 0.4rem;
  }

  #metaArticle {
    font-size: 10px;
  }

  .pragraph a {
    font-size: 12px;
  }

}